version: '3.8'

services:
  smart-city-urban-heat-monitoring:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./src:/app/src
    environment:
      - NODE_ENV=production

  caddy:
    image: caddy:2
    container_name: reverse_proxy_smart_city_urban_heat_monitoring
    ports:
      - "81:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - smart-city-urban-heat-monitoring

volumes:
  caddy_data:
  caddy_config:
